@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #00FF00; /* Cor inicial do cursor (verde) */
  animation: typing 4s steps(30, end), blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-color: #098FD3; /* Cor inicial (verde) */
  }
  50% {
    border-color: transparent; /* Cor intermediária (laranja) */
  }
  100% {
    border-color: transparent; /* Piscar */
  }
}